/* ------------------------------GLOBAL------------------------------- */
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }

  /* HEADER */
  .header {
    margin-top: 8px;
  }

  .nav_list {
    gap: 24px;
  }

  .nav_item_link {
    padding: 8px 16px;
  }

  .header_con {
    border: 2px solid gold;
  }

  /* ------------------- MAIN ------------------- */
  /* Hero slider */
  .container,
  .hero_con {
    max-width: 1158px;

    margin: 0 auto;
    padding: 0 15px;
  }

  .hero_con {
    padding: 0;
  }
  /* =========================================
   SLIDER
========================================= */

  .comparison {
    max-width: none;

    aspect-ratio: 16 / 9;
  }

  /* =========================================
   LABELS
========================================= */

  .comparison__label {
    top: 27px;

    padding: 8px 13px;

    font-size: 13px;

    letter-spacing: 1.5px;
  }

  .comparison__label--before {
    left: 20px;
  }

  .comparison__label--after {
    right: 20px;
  }

  /* =========================================
   LINE
========================================= */

  .comparison__line {
    width: 3px;
  }

  /* =========================================
   HANDLE
========================================= */

  .comparison__handle {
    width: 56px;
    height: 56px;
  }

  /* =========================================
   ARROWS
========================================= */

  .comparison__handle::before,
  .comparison__handle::after {
    width: 16px;
    height: 28px;
  }

  .comparions_wrapper_icon {
    width: 100px;
    height: 100px;
  }

  .hero_title {
    font-size: 72px;
  }
  .section {
    padding: 120px 0;
  }

  /* Enhance section */
  .enhance_item {
    gap: 24px;
  }

  .enhance_svg {
    width: 128px;
    height: 128px;
  }
}
