/* ------------------------------GLOBAL------------------------------- */
@media screen and (min-width: 1158px) {
	.container {
		max-width: 1158px;
		
		padding: 0 15px;
	}

	.section {
		padding: 120px 0;
	}

	/* Enhance section */
	.enhance_item {
		gap: 24px;
	}

	.enhance_svg {
		width: 128px;
		height: 128px;
	}
}